/*
 * @Author       : may.ruan
 * @Date         : 2023-01-12 14:20:50
 * @LastEditors  : Charon.Lin
 * @LastEditTime : 2025-11-10 17:48:38
 * @Description  : ut 单元格样式重置(会员中心)
 */
// .wap-member {
.u-cell-group {
  padding-top: $spaced;
  margin: 0 30rpx;
  .u-line {
    display: none;
  }
  .u-cell-group__title {
    // background-color: #f4f3f8;
    font-size: 30rpx;
    padding: $spaced;
    color: $default-color;
  }
  .u-cell {
    justify-content: space-between;
    padding-bottom: 34rpx;
    .u-cell__body {
      padding: 0 !important;
      align-items: flex-start;
      .u-cell__title {
        flex: none;
        width: 100%;
        padding-right: 20rpx;
        .u-cell__title-text {
          width: 100%;
          color: $sub-color;
          font-weight: normal;
          font-size: 28rpx;
          line-height: 48rpx;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
      .u-cell__body__content {
        flex: none;
      }
      .u-cell__value {
        @include mixin-textAlign(right);
        flex: auto;
        color: $default-color;
        line-height: 48rpx;
        font-size: 28rpx;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        display: inline-block;
      }
      .u-cell__right-icon {
        @include mixin-textAlign(right);
        flex: 1;
      }
    }
  }
}

// 详情单元格
.item-title .u-cell .u-cell__title {
  color: $remark-color !important;
}
// 标红
.red-color .u-cell .u-cell__body .u-cell__value {
  color: $danger;
}
// 二级标题
.subtitle {
  .u-cell .u-cell__title .u-cell__title-text {
    font-size: 28rpx !important;
    font-weight: bold !important;
    color: $default-color !important;
  }
  .u-cell__value {
    font-size: 24rpx !important;
    color: $remark-color !important;
  }
}
// 详情页面标题带背景
.detail-cell-group {
  .u-cell-group {
    padding-top: 0;
    margin: 0;
    .u-cell-group__title {
      background: #f6f6f6;
      color: $default-color;
      padding: 28rpx;
      margin-bottom: 24rpx;
    }
    .u-cell-group__wrapper {
      padding: 0 30rpx;
    }
  }
}
// }
// 菜单公共样式
.card-cell.u-cell-group {
  margin: 0 40rpx;
  .u-cell__body {
    height: 64rpx;
    align-items: center;
    .u-cell__left-icon-wrap {
      margin-right: 20rpx;
    }
    .u-cell__title {
      font-size: 32rpx;
      color: #333;
      position: relative;
    }
    .iconfont-bms-colorful {
      font-size: 60rpx;
    }
    .leftImg {
      height: 37rpx;
      width: 37rpx;
    }
    .u-cell__right-icon-wrap {
      margin-left: auto;
      .u-icon__icon {
        font-size: 32rpx !important;
        line-height: 32rpx !important;
        color: $remark-color;
      }
    }
  }
}

.card-cell-group {
  :deep(.u-cell-group) {
    padding-top: 0;
    margin: 0;
    .u-cell .u-cell__body .u-cell__value {
      span {
        word-wrap: break-word; /* 旧版浏览器兼容 */
        word-break: break-all !important; /* 强制在单词内换行（包括纯数字） */
      }
    }
    .u-cell__body {
      align-items: self-start;
    }
  }

  .vertical-cell {
    :deep(.u-cell__body) {
      flex-direction: column; // 改为上下排列
      align-items: flex-start; // 左对齐（默认是 center 居中）
    }
    .cell-value {
      margin-top: 10rpx;
      font-size: 28rpx;
      color: #333333;
      word-break: break-all; /* 强制在单词内换行（包括纯数字） */
      white-space: pre-line;
    }
  }
}
