# 淘宝镜像：https://registry.npmmirror.com/
# 腾讯云镜像：https://mirrors.cloud.tencent.com/npm/​
# cnpm：https://r.cnpmjs.org/

# npm 镜像的地址，用于替代默认的 npm 官方源。使用这个镜像可以加速 npm 包的下载
registry=https://registry.npmjs.org
